.rollMenu {
  background: $primary-navy-lighter;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
  display: block;
  text-align: center;
  margin: 12px auto;
  padding: 12px 4px;
  width: 100%;

  .btn-group {

    .btn {
      margin: 4px;
    }

    &.skills {
      display: flex;
    }
  }

  .rollButton {
    background: $primary-black;
    border: 2px outset $primary-black;
    font-weight: bold;
    margin: 8px;
  
    .dice-label {
    }
  
    .dice-value {
      color: $primary-highlight;
      font-weight: bold;
    }
  }
}