.skills {
  align-content: flex-start;
  display: flex;
  flex-flow: column wrap;
  font-size: 16px;
  max-height: 380px;
  max-width: 600px;
  justify-content: flex-start;
  text-align: left;

  .skill {
    margin-bottom: 12px;
    width: 50%;

    .stat {

      .stat-value {
      }
    }

    &.proficient {
      .stat-value {
        background: $primary-black;
        border-radius: 100%;
        border: 1px solid $primary-highlight;
        color: $primary-highlight;
      }
    }
  }
}